
body,html {
	font-family: "Segoe UI Light","Segoe UI","Tahoma","Verdana","Arial","sans-serif";
	font-size:100%;
	padding:0;
	margin:0;
	background-color: #fff;
}

html {

}

body {
	max-width:100%;
	width:100%;
}

div.body {
	font-size:100%;
	margin:0 auto;
	padding:0;
	z-index: 5;
	position: relative;
	min-height:100%;
	min-width:800px;
	max-width:1024px;
	margin:0 auto;
}
.inlineBlock {
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
}

/*****************/

header {
	text-align: center;
	background: #202020;
	margin:0;
	color:#1570a6;
	border:20px solid #464646;
	border-width: 0 0 10px 0;
}
header h1 {
	padding:20px 0 0;
	margin:0;
	font-size: 40px;
}
header p {
	padding:0;
	margin:0;
}
header .contacts
{
	display: block;
	color:white;
	padding:20px 0 20px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-align: left;
	margin: 0 0 0 20px;
}
header .contacts .item {
	display: block;
}

#orderBlock {
	float: right;
	display: block;
	width: 250px;
	border:3px solid #fff;
	color:#fff;
	padding: 5px 5px 10px 80px;
	text-decoration: none;
	margin: 15px 20px 0 0;
	background: url("../img/icon2.png") no-repeat scroll 10px 12px transparent;
}
#orderBlock:active {
	background: url("../img/icon2_invert.png") no-repeat scroll 10px 12px #fff;
	color:#252525;
	text-decoration: none;
	text-align: left;
}
.name {
	font-size: 24px;
	margin:0 0 4px 0;
	text-align: left;
}
.desc {
	font-size: 12px;
	text-align: left;
	opacity: .8;
}
/***************/

content {
	text-align: center;
}

/*****************/

.listPreview {
	list-style: none;
	padding: 0;
	margin: 0;
}
.listPreview  li {
	background: #1570A6;
	min-height: 190px;
	padding:5px 10px;
	margin:25px 0 0;
	color: white;
	text-align: left;

}

.listPreview  li h3 {
	margin: 3px 0;
	padding: 0;
}

.listPreview  li p {
	padding: 0;
	margin: 0;
}

.listPreview  li .listImg {
	width: 250px;
	height: 160px;
	float: left;
	margin: 15px 20px 15px 20px;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 0;
	position: relative;
}
.listPreview  li .listImg a {
	display: inline-block;
	vertical-align: top;
	position: relative;

}

.listPreview  li .listImg img {
	width: 230px;
	height: 160px;
}

.listPreview  li .listDescr {
	margin: 10px 20px 0 250px;
}


/******** slide Animation IMG *********/

.slideAnimation a {
	left:0;
	transition: .6s left .3s;
	-webkit-transition: .6s left .3s;
    -moz-transition: .6s left .3s;
    -o-transition: .6s left .3s;
}
.slideAnimation img {
	margin:0 10px;
}
.listPreview  li:hover .slideAnimation a {
	left:-250px;
	transition: .6s left .3s;
	-webkit-transition: .6s left .3s;
    -moz-transition: .6s left .3s;
    -o-transition: .6s left .3s;
}

/******** swipe Animation IMG *********/

.swipeAnimation {
	width: 230px !important;
	position: relative;
	font-size: 0;
}
.swipeAnimation a {
	left:0;
	transition: .8s left .3s;
	-webkit-transition: .8s left .3s;
    -moz-transition: .8s left .3s;
    -o-transition: .8s left .3s;
}
.listPreview  li:hover .swipeAnimation a:nth-child(n+2) {
	position: relative;
}
.listPreview  li:hover .swipeAnimation a:nth-child(n+2) {
	left:-230px;
	transition: .8s left .3s;
	-webkit-transition: .8s left .3s;
    -moz-transition: .8s left .3s;
    -o-transition: .8s left .3s;
}

/*****************/


.listPreview  li.right .listImg {
	float: right;
}

.listPreview  li.right .listDescr {
	margin: 10px 250px 0 20px;
}


/*****************/
/***************/

footer {
	margin:25px 0 0;
	background: #202020;
	border:20px solid #464646;
	border-width: 10px 0 0 0;
	color: white;
}
footer a {
	margin: 20px;
}

footer img {
	width:230px;
	
	padding: 1px;
	border:1px solid gray;
}


/*****************/
/***************/

.metroTooltip {
	position: relative;
	overflow: hidden;
}
	.metroTooltip-text {
		position: absolute;
		top: 142px;/*высота картинки минус высота краткого текста*/
		left:0;
		margin: 0;
		padding: 0;
		background: gray;
		opacity: 0.8;
		display: block;
		width: 100%;
		height: 100%;
		font-size: 14.px;
		color: white;
		transition: .7s top .3s;
		-webkit-transition: .7s top .3s;
	    -moz-transition: .7s top .3s;
	    -o-transition: .7s top .3s;
	}	
		.metroTooltip-text i {
			height: 25px;
			display: block;
		}

.metroTooltip:hover .metroTooltip-text {
	top:0;
	transition: .7s top .3s;
	-webkit-transition: .7s top .3s;
    -moz-transition: .7s top .3s;
    -o-transition: .7s top .3s;
}
